<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eisenhower Matrix</title>
    <link rel="stylesheet" href="/css/eisenhower_matrix.css">
</head>
<body>
    <div class="container">
      <div class="sidebar collapsed" id="sidebar" aria-label="Main menu">
        <div class="logo" id="logo">
          <div class="menu-toggle">
            <button id="menu-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M4 18h16v-2H4v2zm0-5h16v-2H4v2zm0-7v2h16V6H4z"></path>
              </svg>
            </button>
          </div>
          <span><i>Nexus</i></span>
        </div>
        <ul>
          <li class="active">
            <a href="/home">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z">
                </path>
              </svg>
              <span>Notes</span>
            </a>
          </li>
          <li>
            <a href="/home/archive">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.83 1H5.42l.82-1zM5 19V8h14v11H5zm11-5.5l-4 4-4-4 1.41-1.41L11 13.67V10h2v3.67l1.59-1.59L16 13.5z">
                </path>
              </svg>
              <span>Archive</span>
            </a>
          </li>
          <li>
            <a href="/home/wheel">
               <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 300.000000 300.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M1311 2990 c-233 -30 -459 -114 -659 -247 -118 -77 -319 -279 -399 -400 -109 -163 -180 -336 -224 -543 -33 -152 -33 -448 0 -600 44 -207 124 -398 233 -558 73 -107 283 -315 388 -384 172 -114 344 -185 550 -229 152 -33 448 -33 600 0 314 67 538 188 761 410 221 222 343 448 410 761 19 88 23 136 23 300 0 164 -4 212 -23 300 -67 314 -188 538 -410 761 -225 224 -451 346 -761 409 -120 25 -369 35 -489 20z m339 -176 c2 -3 -31 -75 -74 -161 l-78 -156 -79 152 c-43 84 -79 156 -79 161 0 5 26 11 58 13 62 5 244 -2 252 -9z m-454 -116 c20 -39 32 -74 27 -78 -4 -4 -39 -17 -78 -30 -236 -74 -464 -241 -589 -429 -67 -100 -130 -240 -162 -356 -26 -92 -28 -115 -28 -290 -1 -165 2 -202 22 -280 126 -500 480 -813 992 -876 323 -39 688 84 916 308 212 209 328 476 341 784 11 271 -50 495 -193 710 -127 192 -352 354 -603 435 -66 21 -79 28 -72 42 28 65 64 132 71 137 12 8 173 -52 265 -97 391 -197 641 -550 700 -988 33 -239 5 -461 -86 -695 -67 -174 -152 -303 -292 -443 -499 -503 -1368 -499 -1865 9 -214 220 -338 487 -373 806 -60 549 215 1062 701 1308 86 44 251 105 263 98 4 -2 23 -36 43 -75z m172 -333 l42 -85 0 -265 c0 -183 -3 -266 -11 -271 -7 -4 -116 98 -266 247 l-254 254 38 32 c79 67 311 171 383 173 22 0 31 -11 68 -85z m418 64 c84 -25 245 -108 297 -152 l38 -32 -254 -254 c-150 -149 -259 -251 -266 -247 -8 5 -11 88 -11 271 l0 265 42 85 c49 97 47 97 154 64z m-530 -828 c-5 -8 -113 -11 -367 -11 l-360 0 7 38 c31 184 94 336 187 455 l30 39 255 -255 c150 -150 252 -259 248 -266z m1083 388 c65 -112 100 -215 125 -361 l7 -38 -360 0 c-254 0 -362 3 -367 11 -4 7 98 116 247 266 l254 254 28 -33 c15 -18 45 -63 66 -99z m-774 -429 c28 -28 27 -93 -3 -122 -28 -29 -91 -31 -121 -4 -43 39 -33 116 19 143 31 17 79 9 105 -17z m-309 -161 c4 -7 -98 -116 -247 -266 l-254 -254 -28 33 c-88 104 -160 276 -191 461 l-7 37 360 0 c254 0 362 -3 367 -11z m1208 -31 c-23 -149 -111 -363 -187 -451 l-32 -38 -254 254 c-149 150 -251 259 -247 266 5 8 113 11 367 11 l359 0 -6 -42z m-1056 -476 l2 -362 -42 6 c-149 23 -336 99 -442 179 l-48 38 253 253 c140 140 258 253 264 251 6 -2 11 -134 13 -365z m460 115 l254 -254 -39 -30 c-119 -93 -271 -156 -455 -187 l-38 -7 0 359 c0 330 2 372 19 372 3 0 120 -114 259 -253z"/> </g> </svg> 
                
              <span>Spin Wheel</span>
            </a>
          </li>
          <li>
            <a href="/home/matrix">
               <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 300.000000 306.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,306.000000) scale(0.050000,-0.050000)" fill="#000000" stroke="none"> <path d="M16 5270 c-2 -467 -4 -870 -5 -895 -1 -36 8 -44 44 -39 25 4 45 -3 45 -15 0 -11 -12 -21 -28 -21 -15 0 -33 -20 -41 -45 -21 -71 -11 -2722 10 -2744 11 -10 19 -36 19 -57 0 -27 10 -35 32 -26 20 8 28 3 23 -13 -14 -43 -63 -27 -76 25 -8 28 -15 -276 -17 -675 l-3 -725 550 0 551 0 0 160 0 160 -390 0 -390 0 0 629 c0 665 -16 792 -97 761 -24 -9 -24 -5 -3 20 34 41 52 38 72 -15 10 -26 20 837 23 2000 l5 2045 390 0 390 0 0 160 0 160 -550 0 -550 0 -4 -850z m144 -1076 c0 -33 -41 -74 -74 -74 -14 0 -26 9 -26 20 0 11 14 20 30 20 17 0 30 14 30 30 0 17 9 30 20 30 11 0 20 -12 20 -26z m111 -2555 c69 -77 -14 -126 -86 -50 l-55 57 60 -44 c67 -51 95 -23 39 39 -19 22 -26 39 -15 39 11 0 36 -18 57 -41z m-91 -89 c29 -35 13 -90 -26 -90 -38 0 -101 73 -85 99 19 31 82 26 111 -9z"/> <path d="M100 1531 c0 -36 33 -58 61 -40 14 8 14 21 -2 41 -31 36 -59 36 -59 -1z"/> <path d="M4880 5960 l0 -160 400 0 400 0 0 -890 c0 -880 0 -890 39 -866 28 17 36 38 28 70 -12 50 22 64 40 18 7 -18 27 -25 54 -18 39 11 41 8 17 -30 -33 -53 22 -124 95 -124 58 0 59 26 4 114 l-42 69 42 58 c42 57 43 70 43 988 l0 931 -560 0 -560 0 0 -160z"/> <path d="M1367 5199 c-579 -179 -453 -1029 153 -1029 678 0 710 1004 33 1042 -68 4 -151 -2 -186 -13z"/> <path d="M2860 5201 c-453 -138 -515 -767 -97 -982 138 -71 417 -76 417 -7 0 20 14 25 45 18 63 -16 172 79 245 213 219 401 -174 891 -610 758z m275 -883 c-19 -11 -35 -33 -35 -49 0 -16 -9 -29 -20 -29 -23 0 -25 23 -8 68 7 18 32 32 55 31 39 0 40 -2 8 -21z"/> <path d="M4340 5203 c-553 -182 -475 -986 100 -1038 566 -51 799 700 307 988 -96 56 -308 82 -407 50z"/> <path d="M5734 4012 c-43 -33 41 -152 108 -152 21 0 38 -9 38 -20 0 -47 -99 -17 -148 45 l-52 65 0 -63 c0 -34 14 -73 30 -87 17 -14 30 -36 30 -50 0 -14 -13 -36 -30 -50 -26 -22 -30 -233 -30 -1682 l0 -1658 -392 0 c-336 0 -390 -4 -369 -28 14 -18 16 -33 4 -40 -11 -7 -24 -1 -30 13 -5 14 -11 -40 -11 -120 l-2 -145 560 0 560 0 0 1940 0 1941 -48 -12 c-38 -10 -58 2 -102 59 -61 80 -65 82 -116 44z"/> <path d="M1374 3593 c-259 -73 -428 -352 -372 -614 109 -507 792 -574 1005 -99 177 396 -209 831 -633 713z"/> <path d="M2875 3598 c-392 -92 -532 -600 -244 -887 281 -282 771 -156 882 226 113 388 -241 755 -638 661z"/> <path d="M4367 3602 c-420 -107 -546 -628 -221 -914 383 -338 976 26 856 525 -65 268 -373 456 -635 389z"/> <path d="M1309 1962 c-522 -237 -360 -1009 211 -1009 570 0 732 773 211 1009 -108 50 -314 50 -422 0z"/> <path d="M2764 1948 c-382 -190 -384 -744 -3 -938 514 -262 1020 371 646 808 -155 181 -429 237 -643 130z m376 -328 c0 -11 -13 -20 -30 -20 -16 0 -30 -15 -30 -34 0 -25 -6 -28 -23 -11 -32 32 -6 85 42 85 23 0 41 -9 41 -20z m79 -171 c-26 -32 -79 -39 -79 -11 0 10 14 23 30 29 17 7 30 28 31 47 0 34 1 34 21 0 15 -26 14 -44 -3 -65z"/> <path d="M4310 1976 c-436 -155 -470 -766 -54 -970 378 -185 807 117 758 535 -39 326 -393 545 -704 435z"/> </g> </svg> 
              <span>Eisenhower Matrix</span>
            </a>
          </li>
          <li>
            <a href="/home/focus_timer">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 300.000000 300.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,300.000000) scale(0.050000,-0.050000)" fill="#000000" stroke="none"> <path d="M880 5962 c-648 -176 -936 -879 -608 -1482 100 -184 111 -185 208 -6 275 511 700 896 1254 1137 l148 64 -89 78 c-239 210 -603 294 -913 209z"/> <path d="M4670 5880 c-127 -26 -290 -97 -390 -170 -113 -83 -176 -150 -140 -150 51 0 410 -183 577 -294 314 -209 660 -602 833 -945 l55 -110 49 60 c577 703 -87 1788 -984 1609z"/> <path d="M2750 5388 c-2078 -219 -3068 -2683 -1713 -4261 l148 -172 -323 -323 c-177 -177 -322 -339 -322 -358 0 -95 101 -205 230 -249 59 -20 66 -15 403 320 l343 340 118 -71 c865 -526 1917 -522 2753 11 l96 61 344 -343 c261 -260 355 -343 393 -343 71 0 173 68 209 138 66 128 55 147 -291 494 l-323 323 148 172 c1081 1255 699 3221 -773 3976 -432 222 -991 332 -1440 285z m443 -649 c1623 -181 2327 -2125 1190 -3285 -1094 -1118 -2966 -556 -3287 986 -227 1083 570 2170 1684 2298 214 24 203 24 413 1z"/> <path d="M2881 4445 c-157 -80 -150 -37 -157 -1056 l-6 -909 902 0 c980 0 969 -1 1058 112 82 104 45 301 -72 380 -52 35 -106 38 -701 44 l-645 7 0 631 c0 598 -2 635 -40 697 -74 118 -214 157 -339 94z"/> </g> </svg>  
              <span>Focus Timer</span>
            </a>
          </li>
       
          
          </li>
        </ul>
      </div>
        <div class="header">
            <h1><i>Eisenhower Matrix</i></h1>
            <p class="motivation-phrase"><u>Prioritize and conquer!</u></p>
        </div>
        <div class="matrix">
            <div class="box urgent-important">
                <h2>Urgent & Important</h2>
                <div class="notes-list" id="urgent-important-notes">
                    <% urgentImportantNotes.forEach(note => { %>
                    <div class="note-box" data-note-id="<%= note._id %>">
                        <p><%= note.content %></p>
                        <button class="delete-btn" data-note-id="<%= note._id %>">Delete</button>
                    </div>
                    <% }); %>
                </div>
                <textarea id="urgent-important-input" placeholder="Add a note..."></textarea>
                <button class="add-btn" onclick="addNote('urgent-important')">Add Note</button>
            </div>
            <div class="box not-urgent-important">
                <h2>Not Urgent & Important</h2>
                <div class="notes-list" id="not-urgent-important-notes">
                    <% notUrgentImportantNotes.forEach(note => { %>
                    <div class="note-box" data-note-id="<%= note._id %>">
                        <p><%= note.content %></p>
                        <button class="delete-btn" data-note-id="<%= note._id %>">Delete</button>
                    </div>
                    <% }); %>
                </div>
                <textarea id="not-urgent-important-input" placeholder="Add a note..."></textarea>
                <button class="add-btn" onclick="addNote('not-urgent-important')">Add Note</button>
            </div>
            <div class="box urgent-not-important">
                <h2>Urgent & Not Important</h2>
                <div class="notes-list" id="urgent-not-important-notes">
                    <% urgentNotImportantNotes.forEach(note => { %>
                    <div class="note-box" data-note-id="<%= note._id %>">
                        <p><%= note.content %></p>
                        <button class="delete-btn" data-note-id="<%= note._id %>">Delete</button>
                    </div>
                    <% }); %>
                </div>
                <textarea id="urgent-not-important-input" placeholder="Add a note..."></textarea>
                <button class="add-btn" onclick="addNote('urgent-not-important')">Add Note</button>
            </div>
            <div class="box not-urgent-not-important">
                <h2>Not Urgent & Not Important</h2>
                <div class="notes-list" id="not-urgent-not-important-notes">
                    <% notUrgentNotImportantNotes.forEach(note => { %>
                    <div class="note-box" data-note-id="<%= note._id %>">
                        <p><%= note.content %></p>
                        <button class="delete-btn" data-note-id="<%= note._id %>">Delete</button>
                    </div>
                    <% }); %>
                </div>
                <textarea id="not-urgent-not-important-input" placeholder="Add a note..."></textarea>
                <button class="add-btn" onclick="addNote('not-urgent-not-important')">Add Note</button>
            </div>
        </div>
    </div>
    <script src="/js/eisenhower_matrix.js"></script>
</body>
</html>